<header> </header>
<h1> Harvesting Tomatoes </h1>

<%= button_to 'start timer', '#', class: 'toggle' %>
<%= button_to 'toggle', toggle_timer_path(1), :method => :get %>
<%= button_to 'short break', '#', class: 'break' %>
<%#= link_to 'toggle', 'https://pnbwell.harvestapp.com/daily/timer/150844187', class: 'toggle' %>
<div id="timer"></div>

  
<% if current_user %>
  <%= button_to 'sign_out', signout_path   %></li>
<% else %>
  <%= button_to 'Sign Up with Harvest', '/auth/harvest' %></li>
<% end %>

