<body>

<br>
<br>
<h1> Time Harvest </h1>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<div id="timer">25:00</div>
<div id="daily info"></div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
</body>
<div class="btn-group">
<div id="begin"><div class="span3"><%= button_to 'Start Timer', toggle_timer_path(1), class: 'btn btn-large btn-primary', :method => :get %></div></div>
<div id="break"><div class="span3"><%= button_to 'Short Break', '#', class: 'btn btn-large btn-primary' %></div></div>
<div id="stop"><div class="span3"><%= button_to 'Stop', toggle_timer_path(1), class: 'btn btn-large btn-primary', :method => :get %></div></div>
<div class="span3"><%= button_to 'Grab daily information', get_daily_info_timer_path(1), class: 'btn btn-large btn-primary', :method => :get %></div> 

<% if current_user %>
  <div class="span3"><%= button_to 'sign_out', signout_path, class: 'btn btn-large btn-primary'%></div>
<% else %>
  <div class="span3"><%= button_to 'Sign Up with Harvest', '/auth/harvest', class: 'btn btn-large btn-primary'   %></div>
<% end %>
</div>
